{% extends 'base.html.twig' %}

{% block title %}FactuurProducten{% endblock %}

{% block body %}
    <h1>FactuurProducten</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ factuur_producten.id }}</td>
            </tr>
            <tr>
                <th>Aantal</th>
                <td>{{ factuur_producten.aantal }}</td>
            </tr>
            <tr>
                <th>Prijs</th>
                <td>{{ factuur_producten.prijs }}</td>
            </tr>
            <tr>
                <th>Totaal</th>
                <td>{{ factuur_producten.totaal }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('factuur_producten_index') }}">back to list</a>

    <a href="{{ path('factuur_producten_edit', {'id': factuur_producten.id}) }}">edit</a>

    {{ include('factuur_producten/_delete_form.html.twig') }}
{% endblock %}
